.container{
    max-width: 1000px;
    margin: 0 auto;
    font-family: MicrosoftJhengHeiRegular;
    line-height: 1.3;
    letter-spacing: 1.3px;
}


/* headerCSS */
.header{
    background-color: #000;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    box-sizing: border-box;
    h1{
        padding: 15px 42px;
        a{
            color: #fff;
            font-size: 24px;
            font-weight: bolder;
            display: block;
        }
    }
}
.menubar li{
    float: left;
    a{
        display: block;
        padding: 20px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        transition: all 1s;
        &:hover{
            color: yellow;
        }
    }

}
.showmenu{
    display: none;
    width: 25px;
}
@media (max-width:767px) {
    .menu h1{
        padding-left: 20px;
    }
    .menubar{
        flex-direction: column;
        /*隱藏選單開始*/
        max-height: 0px;
        overflow: hidden;
        /*隱藏選單結束*/
        transition: max-height 1s;
        margin-top: 1px;
        /*絕對定位疊在網頁上*/
        position: absolute;
        z-index: 100;
        /*header*/
        top: 72px;
        left: 0;
        right: 0;
        background: #3D1101;
        li{
            float: none;
            border-bottom: 1px dashed #ffa17f;
            a:hover{
                background: #ff8e69;
                color: #fff;
            }
        }
    }
    .showmenu{
        display: block;
        float: right;
        margin: 1em;
    }
    /*jQ點擊後動態在 body 加上 class */
    .menu-show .menubar{
        max-height: 500px
    }
}
.fa-bars{
    display: none;
}



/* bannerCSS */
.banner{
    color: #fff;
    text-align: center;
    position: relative;
}
.image1{
    display: block;
}
.image2{
    display: none;
}
.banner-rect{
    width: 460px;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 23px;
    position: absolute;
    top: 25%;
    left: 27%;
    h2{
        font-size: 36px;
        padding-bottom: 10px;
    }
    p{
        font-size: 16px;
    }
}
.rect-title{
    display: flex;
}

@media (max-width:768px) {
    .banner-rect{
        left: 20%;
    }
}
@media (max-width:767px) {
    .image1{
        display: none;
    }
    .image2{
        display: block;
        width: 100%;
    }
    .banner-rect{
        width: 90%;
        top: 15%;
        left: 5%;
        h2{
            padding-bottom: 0px;
        }
    }
    .rect-title{
        flex-direction: column;
        padding-bottom: 20px;
    }

}
@media (max-width:480px) {
    .banner-rect{
        top: 15%;
        h2{
            font-size: 20px;
        }
        p{
            font-size: 14px;
        }
    }
}


/* footerCSS */
.footer{
    display: flex;
    justify-content: space-around;
    color: #3D1101;
    background-color: #efe9e7;
    padding: 40px 30px;
    h4{
        font-size: 24px;
        margin-bottom: 10px;
    }
}
.footer-about{
    width: 30%;
}
.footer-infor{
    width: 20%;
    ul{
        margin-left: 20px;
        list-style-type: disc;
    }
    a:hover{
        font-weight: bolder;
    }
}

.footer-logo p{
    font-size: 49px;
    font-weight: 900;
}
.logo-group{
    float: right;
    font-size: 36px;
}
.fa-google-plus-square{
    color: #DB4437;
}
.fa-twitter-square{
    color: #41ABE1;
}
.fa-facebook-square{
    color: #3A5795;
}
.fa-google-plus-square:hover,.fa-twitter-square:hover,.fa-facebook-square:hover{
    transition: all 0.2s;
    font-size: 40px;
}
@media (max-width:767px) {
    .footer{
        flex-direction: column;
    }
    .footer-about,.footer-infor,.footer-logo{
        width: 90%;
        margin-bottom: 40px;
    }
    .footer-logo p{
        text-align: right;
    }
}
@media (max-width:480px) {
    .footer{
        padding: 40px 20px;
    }
    .footer-logo p{
        font-size: 34px;
    }
}


/* topCss */
.top{
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background-color: #721e00;
    padding: 5px;
    border-radius: 10px;
    position: fixed;
    bottom: 2%;
    right: 2%;
    a{
        display: block;
        color: #fff;
    }
    &:hover{
        font-weight: bolder;
        cursor: pointer;
    }
}

